<section>
	<div class="main-container">
		<div class="columna-izquierda">
			<slot name="col-izquierda"/>
		</div>


		<div class="columna-derecha">
			<slot name="col-derecha"/>
		</div>

	</div>
</section>  


<style>

		section{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/8e2b9b9c-2b0e-4b0e-9b0a-2b9b9c2b0e4b?apiKey=99b0eaa04efc41a78ff2850239e1f525");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 70vh;
			width: 100%;
			margin-top: 15vh;
			margin-left: 40px;
			margin-right: 40px;
		}

        .main-container {
			  display: grid;
			  grid-template-columns: 1fr 1.2fr;
			  justify-content: space-between;
			  align-content: space-between;
			  gap: 20px;
			
			}
			.columna-izquierda{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			  	align-items: space-between;
			  	
			}
			.columna-derecha{
				display: flex;
				flex-direction: column;
				justify-content: center;
			  	align-items: center;
			  	
			}
</style>