---
import BotonFlecha from "../../global/BotonFlecha.astro";

---


<section id="heroLocation"><span class="green-ball-blured"></span>
	

	<div class="contenedor">
			
		<h1 class="title">U-wifi in <span class=" font-bold">Astro Valley</span></h1>
		<p class="description">Fast, reliable and unlimited internet access tailored for Astro Valley Residents</p>
		
		<div class="twoColumns">
			<div class="columnL">

				<div class="columnLRow1">
					<p class="font-extrabold text-9xl text-primaryTextColor">$30</p>
					<div class="flex flex-column align-middle">
						<p class="text-left font-medium text-lg text-white">/month with  <br> Autopay</p>
					</div>
				</div>
				<div class="w-full p-5">

					<BotonFlecha link="/contact" texto="BUY NOW" borderColor="#ffffff" iconColor="#ffffff" width="100%"/>
				</div>
			</div>
		
		
			<div class="columnR">
				<div class="columnLRow1">
					<p class="font-extrabold text-9xl text-primaryTextColor">Free</p>
					<div class="flex flex-column align-middle">
						<p class="text-left font-medium text-lg text-white">for ACP <br> Subscribers</p>
					</div>

				</div>
				<div class="w-full p-5">
				<BotonFlecha link="/contact" texto="APPLY FOR FREE WIFI" backgroundColor="#7C47DD" borderColor="#ffffff" iconColor="#ffffff" width="100%"/>
				</div>
			</div>
		</div>

		
	</div>
			
	
</section>


<style>

	 .green-ball-blured{
    top: 0%;
	left: 0;
	position: absolute;
    width: clamp(0px, 50vw, 1000px);
	height: clamp(0px, 50vw, 1000px);
	border-radius: 100%;
    background: linear-gradient(0deg, #02572b 0%, #02572a 100%);
	filter: blur(100px);
    opacity: 0.8;
	z-index: -1;
	}
	section
	{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		padding-left: clamp(0px, 5vw, 100px);
		padding-right: clamp(0px, 5vw, 100px);
		margin-top: 100px;
		margin-bottom: 100px;
		width: 100vw;
		height: 90vh;
	}

	.contenedor
	{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 10px;
	/* 	background-color: #00b33e; */
		background: radial-gradient(50% 50% at 50% 50%, #5bcf84 0%, #00b33e 100%);
		height: 80%;
		padding: clamp(0px, 5vw, 60px);
	}
	.title{
			color: var(--primary-text-color);
			font-size: clamp(24px, 5vw, 75px);
			font-weight: 300;
			text-align: left;
			text-wrap: pretty;
			text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
			
		}
	.description{
		color: var(--primary-text-color);
		font-size: clamp(14px, 5vw, 50px);
		font-weight: 300;
		text-align: center;
		text-wrap: pretty;
		text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	}
	.twoColumns{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		gap:50px;
	}
	.columnL{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		background-color: rgba(0, 0, 0, 0.3);
		background-filter: blur(10px);
	}
	.columnLRow1{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		gap: 10px;
		width: 100%;
	}
	.columnR{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border: 3px dashed var(--primary-text-color);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		background-color: rgba(0, 0, 0, 0.3);
		background-filter: blur(10px);
	}
	.columnL, .columnR{
		border-radius: 10px;
		width: 100%;
		height: 100%;
	}







	@media (max-width: 900px) 
	{
		section{
			 height: 100vh;
		}
		.contenedor
		{
			flex-direction: column-reverse;
			align-items: center;
			height: 100vh;
			padding: 16px;
		
		}
	.title{
		text-align: center;
		
	}
	}

	@media (height < 500px) 
	{
		.title{
			font-size: clamp(14px, 3vw, 20px);
		}
		.contenedor
		{
			height: 100vh;
		}

	}


</style>