---
import { setURL } from '../../../data/constants';
import BuyOrApplyFree from '../../global/BuyOrApplyFree.astro';
import Paragraph from '../../global/Paragraph.astro';
import CardAcp from '../CardAcp.astro';


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;


const Acp_data= strapiData['pageData']['data']['pageHome']['data']['attributes']['InstallSteps'];


---

<section id="acp" class="w-full flex flex-col items-center justify-center">
    <span class="purple-ball-blured"></span>
    <div class="flex md:flex-row flex-col m-10 py-10 gap-10 max-w-[1200px]">
        {
            Acp_data.map((Item: any) => (
                <CardAcp titulo={Item.Title} descripcion={Item.Content} icono_url={setURL(Item.Icon.data.attributes.url)}/>
            ))
        }
  
    </div>
        
    </section>

