---
import { setURL } from "../../../data/constants";
import BotonFlecha from "../../global/BotonFlecha.astro";
import CardAcp from "../CardAcp.astro";

interface Props {
    strapiData: any;
}
const { strapiData } = Astro.props;

const pageData =
    strapiData["pageData"]["data"]["pageHome"]["data"]["attributes"];
const Acp_data = pageData["InstallSteps"];
const buttonBuyNow = pageData["ButtonBuyNow"];
---

<section id="acp" class="w-full flex flex-col items-center justify-center pb-5">
    <span class="purple-ball-blured"></span>
    <div class="flex md:flex-row flex-col m-10 py-5 gap-10 max-w-[1200px]">
        {
            Acp_data.map((Item: any) => (
                <CardAcp
                    titulo={Item.Title}
                    descripcion={Item.Content}
                    icono_url={setURL(Item.Icon.data.attributes.url)}
                />
            ))
        }
    </div>

    <BotonFlecha
        link={buttonBuyNow["Link"]}
        texto={buttonBuyNow["Text"]}
        backgroundColor={"primaryColor"}
    />
</section>
