---
import BotonFlecha from '../../global/BotonFlecha.astro'
---

<section id="acp">
	
   <div class="row-acp">

       <span class="title">We are an <span class="acp"> ACP </span> Provider!</span>
   </div>
   
    <p class="description">We´re keeping people connected by participation in the FCC´s Affordable Connectivity Program. Qualifying households will be able to receive a $30/mo discount on their <span style="display: inline-block; font-weight: 500" >UWIFI Plan.</span></p>

   
    <div class="fila-fc">
        <div class="columnas-fc">
            <span class="purple-ball-blured"></span>
            <img class="fc-logo" loading="lazy" src="image/fc.png">
            <div class="fc-info">
                <h1>AFFORDABLE</h1>
                <h1>CONNECTIVITY</h1>
                <h1>PROGRAM</h1>
            </div>
        </div>
    </div>

        <BotonFlecha texto="Learn More" link="/acp"/>
     
    </section>






<style>
   	.purple-ball-blured{
        top: -25;
		left: 25%;
		position: absolute;
        width: clamp(200px, 50vw, 600px);
		height: clamp(200px, 50vw, 600px);
		border-radius: 100%;
        background: linear-gradient(#5746E5 20%, #48099f 40%);
		filter: blur(100px);
		z-index: -1;
	
	}
    section{
        
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            padding-top: 5vh;
            padding-bottom:  5vh;
            width: 100%;
            gap:2rem;
            padding: clamp(0px, 10vw, 100px);
        }

        .row-acp{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    
    
            .fila-fc{
                position:relative;
                display: flex;
                flex-direction: row;
              
                align-items: center;
                align-content: center;
                justify-content: center;
             
                width: 100%;
                
            }
            .columnas-fc{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: clamp(0px, 2vw, 40px);
            }
            .fc-info{
                display: flex;
                flex-direction: column;
            
                align-items: right;
                align-content: right;
                justify-content: space-between;
                
                color: var(--primary-text-color);
                font-size: clamp(0.5rem, 5vw, 2rem);
                font-weight: 800;
                text-align: left;
            
            }
            .fc-logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
                height: clamp(50px, 20vw, 200px);
                width: clamp(50px, 20vw, 200px);
              
            
            }
    
        .title, .acp{
               
                color:var(--primary-text-color);
                font-size: clamp(1rem, 20vw, 90px);
                font-weight: 400;
                text-align: center;
               
                line-height: 1;
                list-style: none;
                }
                .acp{
                    color: var(--secondary-color);
               
                }
         
            
                .description {
                  color: var(--primary-text-color);
                  font-weight: 100;
                  font-size: clamp(1rem, 8vw, 1.8rem);
                  justify-content: center;
                  text-align: center;
                
                  margin-bottom:40px;
                }
        
      
           
    
      
    </style>

