---
import BentoContainer from "../../global/BentoContainer.astro";



---
<section id="#bentogrid2">

   
</section>
		  
	<style>

		section{
		
			display: grid;
            grid-template-columns: repeat(auto-fit, minmax(9vw, 1fr));
            grid-auto-rows: 150px;
            grid-gap: 20px;
            justify-content: center;
            align-items: center;
            justify-items: center;
		
		
			
			
			height: 100%;
            background-color: #131215;
          
			
		}
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-items: center;
            background-color: #1b1b1d;
            border-radius: 10px;
            border: 4px solid #313134;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            align-content: center;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            color:antiquewhite;
            font-size: 1.5rem;
            font-weight: 600;
            box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 1px, rgb(0 0 0 / 20%) 0px 2px 4px;
            transition: all 0.3s ease 0s;
        }
        article:hover{
            transform: scale(1.05);
           
        }
        /* make first article be 2 rows tall */
        article:first-child{
            grid-row: span 2;
        }
        /* make the secon article be 2 colums tall */
        article:nth-child(2){
            grid-column: span 2;
        }
        article:nth-child(4){
            grid-row: span 2;
        }


	
 </style>