---
import Moden from '../../global/animations/ThreeFiber/scene3D/ModenScene/Main3D';
import Paragraph from '../../global/Paragraph.astro';
import BlurryBall from '../../global/BlurryBall.astro';

interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;
const paragraphContent = strapiData['pageData']['data']['pageHome']['data']['attributes']['PrimaryParagraph'];
---
<section class="relative" >
	<BlurryBall position="top-[-400px] end-[200px]" background='var(--secondary-color)' size="400px"/>
	
	<Paragraph headings={paragraphContent.Headings} textBlock={paragraphContent.Textblock} logo={paragraphContent.IconLogo} buttons={paragraphContent.Buttons} >
		<div class="flex items-center justify-center m-3">
			<div class="  md:h-[40vw] md:w-[40vh] max-w-[60vh] max-h-[60vh] flex relative inset-0">
				<Moden client:visible transition:persist/>
			</div>
		</div>
	</Paragraph>
</section>