---
import Moden from '../../Scene3D/ModenScene/Main3D';
import BotonFlecha from '../../global/BotonFlecha.astro';

---
<section class=" overflow-auto box-border relative block max-h-fit mb-[10vh]">


	<div class="grid grid-flow-dense gap-4 mt-[15vh] box-border" style="grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));   grid-auto-rows: 40rem;   overflow-wrap: auto;">
		<div class="flex flex-wrap justify-between gap-4 items-center" style="padding: clamp(5px, 1vw, 40px);">

			<div>

				<div><span class="title">The<span class="text-primaryColor"> best </span> internet</span></div>
				<div><span class="subtitle">connection for  <img class="image" loading="lazy" srcset="faviui.png"/></span></div>

				<p class="description">In our fast-paced world, imagine a high-speed mobile internet service that keeps you connected seamlessly and outpaces the competition, all at a pleasantly surprising cost!</p>
					
			</div>
	

			<BotonFlecha texto="Check Availability" link="/"/>
		</div>

		<div class="flex justify-center items-center" style="flex-wrap: calc(100% - 1rem); padding: clamp(5px, 1vw, 40px); flex-grow: inherit; ">
			<div  class="moden">

				<Moden client:visible transition:persist/>
			</div>
		
		</div>
	</div>
</section>
		  
	<style>

	


			.title, .best, .subtitle{
			color: var(--primary-text-color);
			font-size: clamp(40px, 5vw, 100px);
			font-weight: 400;
			letter-spacing: 2px;
			text-align: left;
			word-spacing: 5px;
			text-wrap: balance;

			}
	
			.subtitle{
			
				font-weight: 300;
				line-height: 160%;
				margin-top: 50px;
			}
		
		  
			.image {
			display: inline-block;
			aspect-ratio: 1.1;
		
			width: clamp(2.5rem, 5vw, 5.3rem); 
			height: clamp(2.5rem, 5vw, 5.3rem);
			margin-bottom: 2rem;
			}

			.icono {
			display: inline-block;
			aspect-ratio: 1.1;
			}
			
			

			.moden{
			width: clamp(280px, 50vw, 500px);
			height: clamp(280px, 50vw, 500px);
	
			}
			
			.description {
			  color: var(--primary-text-color);
			  font-weight: 300;
			  text-wrap: pretty;
			  font-size: clamp(1rem, 1.3vw, 1.5rem);
			}

			.cta-text {
			  justify-content: center;
			  color: var(--primary-text-color);
			  text-align: center;
			  align-self: center;
			  font-size: clamp(14px, 1.5vw, 1.5rem);
			  font-weight: 200;
			}
			@media screen and (max-width: 900px) {
			.main-container {
			 gap:10px;
			
			}
		
			.seccion-inferior{
		
				justify-content: center;

				gap:10px;
			}

			}
	
	
		 </style>