---

import { setURL } from "../../../data/constants";
import ButtonList from "../../global/ButtonList.astro";
import BuyOrApplyFree from "../../global/BuyOrApplyFree.astro";
import Markdown from "../../global/Markdown.astro";
import CarouselSection from '../../index/Secciones/CarouselSection.astro';


interface Props{
    sectionData: any;
}
const{ sectionData } = Astro.props;

const buttons = sectionData['HeroButtons'];
const slides = sectionData['Slides'];
---

<section id="home" class="relative w-full h-[85vh]">
	<div class="block absolute w-full">
		<CarouselSection slidesContent={slides}/>
	</div>

<div class="absolute flex flex-col w-full h-full items-center justify-between place-content-center ">
	<div class="rounded-b-full bg-black/30 backdrop-blur-md border border-white/10 py-3 md:py-[3vh] px-10 md:px-20  md:mx-10">
		<Markdown textAlign="text-center" classN={"leading-none [&>h1]:md:text-[6vh]"} content={sectionData['Title']}/>
	</div>
	<div class="mx-5 rounded-full bg-black/40 backdrop-blur-lg border border-white/20">
		{buttons && 
                <ButtonList buttons={buttons} />
            }
	</div>

</div>


	
</section>
		