---
import { setURL } from '../../../data/constants';


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;


const tablet = strapiData['pageData']['data']['pageHome']['data']['attributes']['TabletParagraph'];
const tablet_media = strapiData['pageData']['data']['pageHome']['data']['attributes']['TabletParagraph']['Media']['data']['attributes'];
---
<section id="freetablet">
    <div class="divider">
        <div class="rounded"></div>
        <h1 class="plus">{tablet.Headings[0].Heading}</h1>
        <hr class="rounded">
    </div>
    
   
    <p class="title">{tablet.Headings[1].Heading.split(" ")[0]} <span class="text-primaryTextColor"> {tablet.Headings[1].Heading.split(" ").pop()}</span></p>

    <img src=`${setURL(tablet_media.url)}` alt={tablet_media.name} class="image"/>
    <span class="green-ball-blured"></span>
    <p class="parrafo">{tablet.Textblock}</p>
</section>
 
<style>



.divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: clamp(0px, 10vw, 50px);
}
.rounded {
   
  width: clamp(50px, 30vw, 600px);
  border-top: 5px solid #ffffff;
  border-radius: 5px;
}
.plus{
    
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 45px);
    font-weight: 700;
    }
    @media (max-width: 768px) {
        .rounded {
   
   width: clamp(50px, 30vw, 400px);

 }
     
    }




    section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(0px, 10vw, 70px);
    padding-bottom: clamp(0px, 10vw, 70px);
    padding-left: clamp(0px, 10vw, 100px);
    padding-right: clamp(0px, 10vw, 100px);
 
    }
    .green-ball-blured{
    top:20%;
	left: 35%;
	position: absolute;
    width: clamp(0px, 30vw, 430px);
	height: clamp(0px, 30vw, 430px);
	border-radius: 100%;
    background: linear-gradient(0deg, #03FB75 0%, #03FB75 100%);
	filter: blur(120px);
    opacity: 0.5;
	z-index: -1;
	}
	.title{
	color: var(--tertiary-text-color);
	font-size: clamp(14px, 50vw, 75px);
	font-weight: 700;
	text-align: center;
	justify-content: center;
	}
    .image {
	display: inline-block;
	width: clamp(30px, 50vw, 500px); 
	height: clamp(30px, 50vw, 500px);
    align-self: center;
    margin-bottom: 25px;
	}
    .parrafo{
    color: var(--primary-text-color);
    font-size: clamp(14px, 3vw, 24px);
    opacity: 0.6;
    text-align: center;
    font-family: var(--font-family-secondary);
    }
    @media (max-width: 768px) 
    {
		
	.title{
	color: var(--primary-color);
	font-size: clamp(14px, 30vw, 45px);
	font-weight: 700;
	text-align: center;
	justify-content: center;
	}
    .parrafo{
    color: var(--primary-text-color);
    font-size: clamp(14, 3vw, 18px);
    opacity: 0.6;
    }
	}
    
</style>