---
import FilaImagenTexto from "../FilaImagenTexto.astro";

---

<section id="app">
    <div>
        <div class="contenedor">
            <div class="title">
            <span class="text-primaryColor">UWIFI </span>Mobile App
            </div>
        </div>
        <div class="contenedor">
            <div class="subtitle">
                Take control of your home internet with one <span class="text-secondaryColor">simple app.</span>
            </div>
        </div>
    </div>


    <FilaImagenTexto 
    image="/image/App1.png"
    title="Setup’s quick. Just download the app." 
    subtitle=" Step-by-step, we’ll make setup a breeze for your T-Mobile 5G Wi-Fi Gateway."  
    flex="row"/>

    <FilaImagenTexto 
    image="/image/App2.png"
    title="Location matters." 
    subtitle="For the best possible connection, use the interactive placement assistant in the app to pinpoint the ideal location for your gateway."  
    flex="row-reverse"/>

    <FilaImagenTexto 
    image="/image/App3.png"
    title="Keep an eye on your internet connection." 
    subtitle="Make sure your internet connection is at its best and get help tackling issues with your Wi-Fi network manager."  
    flex="row"/>

    <FilaImagenTexto 
    image="/image/App4.png"
    title="See who’s online." 
    subtitle="Quickly identify each device that’s connected to your network."  
    flex="row-reverse"/>

    <FilaImagenTexto 
    image="/image/App5.png"
    title="Set parental controls." 
    subtitle="A few simple taps and you can control which devices connect to Wi-Fi and when. You have the power."  
    flex="row"/>

    <div>

</section>


<style>
      section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: clamp(0px, 10vw, 100px);
        gap:20px;
    }
    	.contenedor{
		display: flex;
		flex-direction: row;
		width: 100%;
		text-wrap: pretty;
	}
	.title{
	
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 80px);
    font-weight: 400;
    text-wrap: balance;
    }
    .subtitle{
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 40px);
    font-weight: 600;
    text-wrap: balance;
    }




</style>