---
import Markdown from "../../components/global/Markdown.astro";
import Layout from "../../layouts/Layout.astro";
import { getPageData } from "../../services/graphql";
import { getLangFromUrl } from "../../data/constants";
import { TransparencyQuery } from "../../data/queries/TransparencyQuery";

const lang = getLangFromUrl(Astro.url);
const data = await getPageData(TransparencyQuery(lang), lang);
const layoutData = data.layoutData;

const pageData = data.pageData['data']['pageTransparency']['data']['attributes']

const seoData = pageData['SEO'];

---

<Layout dataLayout={layoutData} seoData={seoData}>
    <div class="flex w-full place-content-center items-center">
    <div
        class="flex flex-col text-white my-20 py-10 md:mx-10 mx-8 max-w-[1200px] place-content-center items-center gap-10 "
    >
        <section class="flex flex-col items-center justify-center gap-0 z-10">
            <div class="m-5 p-10 rounded-full flex flex-wrap items-center justify-center backdrop-blur-md bg-gradient-to-r from-primaryColor">
                <h1 class="font-display md:text-[40px] text-[30px]">
                    {pageData['Content']['Headings'][0]['Heading']}
                </h1>
            </div>
            <Markdown content={pageData['Content']['Content']}/>

           
        </section>
    </div>
    </div>
</Layout>