---
import Layout from '../layouts/Layout.astro';
import CarruselTextoHorizontal from '../components/index/CarruselTextoHorizontal.astro';
import Seccion1 from '../components/index/Seccion1.astro';
import Seccion2 from '../components/index/Seccion2.astro';
import Seccion3 from '../components/index/Seccion3.astro';
import Seccion4 from '../components/index/Seccion4.astro';
import Seccion5 from '../components/index/Seccion5.astro';
import PriceAndPlansInfo from '../components/index/PriceAndPlansInfo.astro';
import AuroraBoreal from '../components/index/AuroraBoreal.astro';


---

<Layout title="Home">
	

	
<!-- 	<span class="green-ball-blured" id="ball1"></span> -->
	<span class="green-ball-blured" id="ball2"></span>
	<span class="green-ball-blured" id="ball3"></span>



	<Seccion1 />
	<CarruselTextoHorizontal/>
	<Seccion2 />
	<Seccion3 />
	<Seccion4 />
	<PriceAndPlansInfo />
	<Seccion5 />
	<!-- <AuroraBoreal /> -->

	




</Layout>




<style>

	.green-ball-blured{
		position: absolute;
		top: -20%;
		left: 55%;
		width: 800px;
		height: 800px;
		border-radius: 50%;
		
		rotate: 50deg;
		
		/* make gradient */
		background: linear-gradient(#5746E5 20%, #8743E5 40%, #000000, #03FB75 100%);


		/* make blur radius */
		filter: blur(150px);
	
	
		z-index: -1;
	
	}
	#ball2{
		top: 130%;
		left: 50%;
		width: 500px;
		height: 800px;
		border-radius: 100%;
		
		rotate: -45deg;
	
		/* make gradient */
		background: linear-gradient(#5746E5 20%, #8743E5 40%, #03FB75 100%);
	}
	#ball3{
		top: 0;
		left: 0%;
		width: 800px;
		height: 800px;
	
		
		rotate: 0deg;
	
		/* make gradient top to bottom */ 

		background: linear-gradient(#5746E5 0%, #8743E5 30%, #000000 70%, #03FB75 100%, #00000000 70%);
		animation: move 30s infinite, blur 30s infinite,  rotate 30s infinite, scale 30s infinite, linear infinite;
	}

	@keyframes move {
  0% { left: 0; }
  50% { left: 10%; }
  100% { left: 0; }
}
@keyframes blur {
  0% { filter: blur(150px); }
  50% { filter: blur(50px); }
  100% { filter: blur(150px); }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}
@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


</style>