---
import { setURL } from '../../data/constants';

interface Props {
    title: string;
    description: string;
    imageUrl: string;
}

const { title, description, imageUrl } = Astro.props;
const imageurl = `url(${setURL(imageUrl)})`;



---

<div class="baner" style={`--image: ${imageurl};`}>
    <h1>{title}</h1>
    <p>{description}</p>
</div>

<style>
    .baner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--image);
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 100%;
    }
    h1{
	
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 50px);
    font-weight: bold;
    text-wrap: balance;
    text-align: center;
    }
    p{
    color: var(--primary-text-color);
    font-size: clamp(1rem, 3vw, 30px);
    font-weight: 300;
    text-wrap: pretty;
    text-align: center;
    }

</style>