---
import Markdown from '../global/Markdown.astro';

interface Props{
    imageUrl:string;
	step:number;
    description:string;
}

const { imageUrl, step, description  } = Astro.props;

---


<div class="flex flex-row items-center justify-start gap-5">
    <img class="w-[50px] h-[50px] object-contain" src={imageUrl} alt="ui-icon">
    <p class="md:text-[100px] text-[50px] font-bold">{step}</p>
    <Markdown content={description} classN="md:text-[35px]"/>
</div>
