---
import RiveComponent from "../../global/animations/Rive/riveComponent.jsx";
---

<section>
    <div class="flex flex-row w-full md:h-[350px] h-[150px] items-center justify-center mt-[50px]">
        <RiveComponent 
        src="/rive/antenas4.riv" 

				autoplay={true} 
				transition:persist 
        transition:persist client:only/>
    </div>
</section>