---

---
<section id="heroselfservice">
   
    <p class="title">SELF <span class="text-primaryColor"> SERVICE </span> <span class="text-primaryTextColor"> CENTER</span></p>

    <img src="/image/selfservicepage/auroraboreal.jpg" alt="background service" class="image"/>
 
</section>
 
<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
		box-sizing: border-box;
		margin-top: 80px;
		height: 80vh;
 
    }
    .green-ball-blured{
    top:20%;
	left: 35%;
	position: absolute;
    width: clamp(0px, 50vw, 530px);
	height: clamp(0px, 50vw, 530px);
	border-radius: 100%;
    background: linear-gradient(0deg, #03FB75 0%, #03FB75 100%);
	filter: blur(100px);
    opacity: 0.8;
	z-index: -1;
	}
	.title{
	color: var(--secondary-color);
	font-size: clamp(14px, 50vw, 120px);
	font-weight: 700;
	text-align: center;
	justify-content: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
	}
    .image {
		position: absolute;
        right: 0;
        bottom: 0;
	
		width: 100vw;
        height: 100%;
		object-fit: cover;
		z-index: -1;
	}
    .parrafo{
    color: var(--primary-text-color);
    font-size: clamp(14px, 3vw, 24px);
    opacity: 0.6;
    text-align: center;
    font-family: var(--font-family-secondary);
    }
    @media (max-width: 768px) 
    {
		
	.title{
	color: var(--secondary-color);
	font-size: clamp(14px, 30vw, 45px);
	font-weight: 700;
	text-align: center;
	justify-content: center;
	}
    .parrafo{
    color: var(--primary-text-color);
    font-size: clamp(14, 3vw, 18px);
    opacity: 0.6;
    }
	}
    
</style>