---


---

<div class="main">

    <p>Info@wifi.com</p>
    <p>(555) 12 34 56</p>

  </div>
  
  <style>
    .main{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.146);
      width: 100vw;
      height: 35px;
      gap:40px;
      backdrop-filter: blur(100px);
      padding-left: clamp(0px, 5vw, 100px);
	    padding-right: clamp(0px, 5vw, 100px);
    }
    p{
      color: white;
      font-size: 16px;
    }
    @media screen and (max-width: 768px){ 
      .main{
        display: none;
      }
      
    }
  </style>