<div class="divider">

    <div class="rounded"></div>
    <h1 class="plus">PLUS</h1>
    <hr class="rounded">
</div>

<style>

.divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: clamp(0px, 10vw, 100px);
    padding-bottom: clamp(0px, 10vw, 50px);
    padding-left: clamp(0px, 10vw, 100px);
    padding-right: clamp(0px, 10vw, 100px);
   

}
.rounded {
   
  width: clamp(50px, 30vw, 600px);
  border-top: 5px solid #ffffff;
  border-radius: 5px;
}
.plus{
    
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 45px);
    font-weight: 700;
    }
    @media (max-width: 768px) {
        .rounded {
   
   width: clamp(50px, 30vw, 400px);

 }
     
    }
</style>