---
import Moden from './Scene3D/ModenScene/Main3D';
import BotonFlecha from './global/BotonFlecha.astro';
import Row from '../layouts/global/Row.astro';
import Column from '../layouts/global/Column.astro';
import Container from '../layouts/global/Container.astro';
import Padding from '../layouts/global/Padding.astro';
import Text from '../layouts/global/Text.astro';

---
<section id="test">

	<Row mainAxisAlignment='space-evenly'>
        <Padding all={50}>
            
            <Container width={800} height={800}  color='#ffff' padding={10}> 
                <Column mainAxisAlignment='space-between' crossAxisAligment='center' mainAxisSize='max-content' gap={60} key="maincolumn" color='#aaa0ff' >
                    <Container width={200} height={200} color='#00ff00' borderRadiusBottomLeft={20} borderRadiusBottomRight={20} border={5}  key="green-box" tailwind="shadow-xl"/>  
                    <Container width={200} height={200} color='#ff0000'  key="red-box"> 
                        <Text text="Hola Mundo" fontSize={20} color="#3498db" fontWeight="bold" textAlign="center" />
                    </Container>
                </Column>
            </Container>
        </Padding>
    </Row>
	
</section>
		  
