---
interface Props{
  data:any;
}

const {data} = Astro.props;
---

<div class="main bg-white/25 ">

    {data.map((button:any)=>(
       <a href={button['Link']}>
        <p>{button['Text']}</p>
        </a>
    ))}

  </div>
  
  <style>
    .main{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100vw;
      height: 25px;
      gap:40px;
      backdrop-filter: blur(25px);
      padding-left: clamp(0px, 5vw, 100px);
	    padding-right: clamp(0px, 5vw, 100px);
    }
    p{
      color: white;
      font-size: 14px;
    }
    @media screen and (max-width: 768px){ 
      .main{
        display: none;
      }
      
    }
  </style>