.mainContainer {

    
    display: flex;
    flex-direction: row;
    padding: clamp(20px, 25vw, 10px);
    border-bottom: #fff 2px solid;
    backdrop-filter: blur(10px); 
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }



  .image {

    object-position: center;
    width: clamp(100px, 10vw, 250px);
    align-self: center;
  }
  .imagemobile {

    object-position: center;
    width: clamp(100px, 30vw, 250px);
    align-self: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    gap: clamp(10px, 25vw, 60px);
    align-self: center;
  }


  .link, .selected-link{
    color: #ffffff;
    text-shadow:  2px 2px 0px #000000;
    text-transform: uppercase;
    align-self: start;
    font-weight: 800;
    font-size: clamp(14px, 2vw, 30px);
    justify-content: space-between;
    align-self: center;
  }
  .selected-link-mobile, .linkmobil{
    color: #ffffff;
    text-shadow:  2px 2px 0px #000000;
    text-transform: uppercase;
    align-self: start;
    padding-left: 8px;
    font-weight: 800;
    font-size: clamp(14px, 8vw, 30px);
    border-bottom: #fff 1px solid;
    width: 100%;
  }
  .selected-link-mobile {
    color: #00c402 !important;

  }
  .selected-link {
    color: #00c402 !important;

  }



  .hamburgerIcon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    display: none;
    color: #ffffff;
    justify-self: right;
}

.showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px; /* Ajusta según sea necesario */
    left: 0;
    right: 0;
    background-color: #808080; /* Ajusta según sea necesario */
    padding: 20px;
    z-index: 100;
}


  @media screen and (max-width: 768px) {
    .mainContainer{
      grid-template-columns: 1fr 1fr;
     
    }
    .navigation {
      display: none;
    }
    .image2 {
     display:none;
    }
    .hamburgerIcon {
      display: block;
  }

  .navigation {
      display: none; /* Oculta el menú de navegación en pantallas pequeñas */
  }
  .selected-link-mobile, .linkmobil{

    padding: 8px;
    font-weight: 600;
    font-size: clamp(14px, 8vw, 20px);
    border-bottom: #fff 1px solid;
    width: 100%;
  }
  }
  @media screen and (max-width: 450px) {
 
  .selected-link-mobile, .linkmobil{

    padding: 8px;
    font-weight: 600;
    font-size: clamp(14px, 8vw, 16px);
    border-bottom: #fff 1px solid;
    width: 100%;
  }
  }


