---
interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;

const data = strapiData.pageData.data.pageSupport.data.attributes;
const ContactBullets = data.ContactBullets;

let half = Math.ceil(ContactBullets.length / 2);
let dataIzquierda = ContactBullets.slice(0, half);
let dataDerecha = ContactBullets.slice(half);

---


<section id="contactnumbers">

    <h1>CONTACT NUMBERS</h1>
    <div class="contactNumbersContainer">

        <div class="columnaIzquierda">
            {dataIzquierda.map((item:any) => (
                <div class="mb-8 gap-4">
                    <h2 class="carttile">{item.Title}</h2>
                    <p class="description">
                            <p set:html={item.Content.replace(/\n/g, '<br>')}/>
                    </p>
                </div>
            ))
            }
        </div>

        <div class="columnaDerecha">
            {dataDerecha.map((item: any) => (
                <div class="mb-8 gap-8">
                    <h2 class="carttile">{item.Title}</h2>
                    <p class="description">
                
                        <p set:html={item.Content.replace(/\n/g, '<br>')}/>
                       
                    </p>
                </div>
            ))
            }
        </div>
        <span class="green-ball-blured" id="ball1"></span>
    </div>
  

</section>


<style>
    .contactNumbersContainer{
        display:flex;
        justify-content: space-between;
        gap: clamp(20px, 5vw, 32px);
    }
    .columnaIzquierda, .columnaDerecha{
        width: 50%;
    }
   
    .green-ball-blured{
		position: absolute;
		top: 0;
		left: 55%;
		width: clamp(400px, 50vw, 800px);
		height: clamp(400px, 50vw, 800px);
		border-radius: 100%;
		
		rotate: -90deg;
	
		filter: blur(100px);
		z-index: -1;
		background: linear-gradient(#28206b 20%, #4a1297 40%, #048b43 100%);
	}
 	section{
        position: relative;
        display: flex;
        flex-direction: column;
        block-size: auto;
        padding-left: clamp(20px, 50vw, 100px);
        padding-right: clamp(20px, 50vw, 100px);
        gap: 60px;
        margin-bottom: 100px;
    }
    h1,h2{
        color: var(--primary-text-color);
        font-size: clamp(2rem, 5vw, 50px);
        font-weight: 700;
        display: block;
        text-wrap: balance;
        text-align: left;
    }
    h2{
        font-size: clamp(16px, 5vw, 50px);
    }
    .carttile{
	    color: var(--tertiary-text-color);
	    font-size: clamp(20px, 5vw, 25px);
	    font-weight: 500;
	    display: block;
	    text-wrap: balance;
	    text-align: left;  
	    }
    .description, p {
	  color: var(--primary-text-color);
	  font-weight: 300;
	  text-wrap: pretty;
	  font-size: clamp(14px, 3vw, 25px);
	  display: block;
      max-width: 50vw;
      margin-bottom: 0.5rem;
    
	}
    @media (max-width: 900px)
    {
        section{
					padding-left: clamp(20px, 5vw, 50px);
				padding-right: clamp(20px, 5vw, 50px);
				
				}
        .contactNumbersContainer{
            flex-direction: column;
            align-items: center;
        }
        .columnaDerecha, .columnaIzquierda{
            width: 100%;
        }
        .description, p {
            max-width: 100%;
        }
        h1{
            text-align: center;
        }
    
    }
</style>