---
import BotonFlecha from "../../global/BotonFlecha.astro";
---


<section id="faq&support">


    <p class="title flex align-middle justify-center mb-8">SUPPORT</p>
    <div class="flex justify-center align-middle items-center gap-4 p-3  border-dashed border-2 border-primaryColor rounded-md mb-8">
		<p class="description flex align-middle justify-center text-center">Save time and manage your account online with our Self-service Center or using  <span class="font-bold">U-app.</span></p>
		<BotonFlecha link="#" texto="CHECK IT OUT" backgroundColor="#00c207" iconColor="#ffffff"/>
	</div>
   
	<span class="green-ball-blured"></span>
</section>


<style>
    .green-ball-blured{
    top: -90%;
	left: 0;
	position: absolute;
    width: clamp(0px, 50vw, 600px);
	height: clamp(0px, 50vw, 600px);
	border-radius: 100%;
    background: linear-gradient(0deg, #022c16 0%, #02572a 100%);
	filter: blur(100px);
    opacity: 0.8;
	z-index: -1;
	}
 	section{
		position: relative;
        display: flex;
        flex-direction: column;
        block-size: auto;
        padding-left: clamp(20px, 50vw, 100px);
        padding-right: clamp(20px, 50vw, 100px);
        margin-top: 150px;
    }
    .title{
	    color: var(--primary-text-color);
	    font-size: clamp(30px, 5vw, 60px);
	    font-weight: 400;
	    display: block;
	    text-wrap: balance;
	    text-align: center  
	    }
    .description {
	  color: var(--primary-text-color);
	  font-weight: 300;
	  text-wrap: pretty;
	  font-size: clamp(1rem, 1.3vw, 1.5rem);
	  display: block;
    
	}



	@media (max-width: 768px)
    {
    
    }
</style>