<div id="main">


<div class='bg'>
    <div class='auror_bg'></div>
    <div class='aur_cont'>
      <span class='aur aur_1'></span>
      <span class='aur aur_2'></span>
      <span class='aur aur_3'></span>
      <span class='aur aur_4'></span>
      <span class='aur aur_5'></span>
      <span class='aur aur_6'></span>
      <span class='aur aur_7'></span>
      <span class='aur aur_8'></span>
      <span class='aur aur_9'></span>
      <span class='aur aur_10'></span>
      <span class='aur aur_11'></span>
      <span class='aur aur_12'></span>
      <span class='aur aur_13'></span>
      <span class='aur aur_14'></span>
      <span class='aur aur_15'></span>
      <span class='aur aur_16'></span>
      <span class='aur aur_17'></span>
      <span class='aur aur_18'></span>
      <span class='aur aur_19'></span>
      <span class='aur aur_20'></span>
      <span class='aur aur_21'></span>
      <span class='aur aur_22'></span>
      <span class='aur aur_23'></span>
      <span class='aur aur_24'></span>
    </div>

  </div>
</div>



  <style lang="scss">
    #main {
  background: rgba(55, 23, 197, 0);
  overflow: hidden;
}
#main .bg {
  width: 100vw;

  margin: auto;
  height: 100%;

  overflow: hidden;
  position: absolute;
}
#main .bg .auror_bg {
  position: absolute;

  width: 200%;
  height: 200%;

  animation-name: northern;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
}
#main .bg .aur_cont {
  margin: -65px auto 0;
  display: table;
  height: auto;
  overflow: hidden;
}
#main .bg .aur_cont .aur {
  transform: skew(-0.06turn, 18deg);
  display: block;
  width: 0;
  min-height: 200px;
  float: left;
  margin-left: 40px;
  border-radius: 5% 52% 30px 20px;
  opacity: 0.6;
}
#main .bg .aur_cont .aur.aur_1 {
  box-shadow: #4bca67 0px 0px 100px 20px;
  margin-top: -6px;
  animation: topup 9s infinite linear;
}
#main .bg .aur_cont .aur.aur_2 {
  box-shadow: #5746E5 0px 0px 100px 20px;
  margin-top: 3px;
  animation: topup 12s infinite linear;
}
#main .bg .aur_cont .aur.aur_3 {
  box-shadow: #4bff4e 0px 0px 100px 20px;
  margin-top: 52px;
  animation: topup 6s infinite linear;
}
#main .bg .aur_cont .aur.aur_4 {
  box-shadow: #4bad63 0px 0px 100px 20px;
  margin-top: 32px;
  animation: topup 6s infinite linear;
}
#main .bg .aur_cont .aur.aur_5 {
  box-shadow: #4bff5b 0px 0px 100px 20px;
  margin-top: 13px;
  animation: topup 4135ms infinite linear;
}
#main .bg .aur_cont .aur.aur_6 {
  box-shadow: #4bffa6 0px 0px 100px 20px;
  margin-top: 34px;
  animation: topup 11422ms infinite linear;
}
#main .bg .aur_cont .aur.aur_7 {
  box-shadow: #5746E5 0px 0px 100px 20px;
  margin-top: 17px;
  animation: topup 11671ms infinite linear;
}
#main .bg .aur_cont .aur.aur_8 {
  box-shadow: #4bffba 0px 0px 100px 20px;
  margin-top: -6px;
  animation: topup 6272ms infinite linear;
}
#main .bg .aur_cont .aur.aur_9 {
  box-shadow: #4b8d5f 0px 0px 100px 20px;
  margin-top: 23px;
  animation: topup 11683ms infinite linear;
}
#main .bg .aur_cont .aur.aur_10 {
  box-shadow: #8743E5 0px 0px 100px 20px;
  margin-top: 90px;
  animation: topup 10546ms infinite linear;
}
#main .bg .aur_cont .aur.aur_11 {
  box-shadow: #4bff41 0px 0px 100px 20px;
  margin-top: 94px;
  animation: topup 3432ms infinite linear;
}
#main .bg .aur_cont .aur.aur_12 {
  box-shadow: #4bff94 0px 0px 100px 20px;
  margin-top: -21px;
  animation: topup 8103ms infinite linear;
}
#main .bg .aur_cont .aur.aur_13 {
  box-shadow: #4bc480 0px 0px 100px 20px;
  margin-top: -34px;
  animation: topup 7976ms infinite linear;
}
#main .bg .aur_cont .aur.aur_14 {
  box-shadow: #4bff57 0px 0px 100px 20px;
  margin-top: -24px;
  animation: topup 4770ms infinite linear;
}
#main .bg .aur_cont .aur.aur_15 {
  box-shadow: #8743E5 0px 0px 100px 20px;
  margin-top: -36px;
  animation: topup 7849ms infinite linear;
}
#main .bg .aur_cont .aur.aur_16 {
  box-shadow: #4bff87 0px 0px 100px 20px;
  margin-top: 57px;
  animation: topup 5900ms infinite linear;
}
#main .bg .aur_cont .aur.aur_17 {
  box-shadow: #8c3bff 0px 0px 100px 20px;
  margin-top: 44px;
  animation: topup 8148ms infinite linear;
}
#main .bg .aur_cont .aur.aur_18 {
  box-shadow: #4bff83 0px 0px 100px 20px;
  margin-top: 21px;
  animation: topup 3714ms infinite linear;
}
#main .bg .aur_cont .aur.aur_19 {
  box-shadow: #4bffab 0px 0px 100px 20px;
  margin-top: 0px;
  animation: topup 9145ms infinite linear;
}
#main .bg .aur_cont .aur.aur_20 {
  box-shadow: #8743E5 0px 0px 100px 20px;
  margin-top: 51px;
  animation: topup 6888ms infinite linear;
}
#main .bg .aur_cont .aur.aur_21 {
  box-shadow: #4bffb1 0px 0px 100px 20px;
  margin-top: 71px;
  animation: topup 5324ms infinite linear;
}
#main .bg .aur_cont .aur.aur_22 {
  box-shadow: #4bff66 0px 0px 100px 20px;
  margin-top: 97px;
  animation: topup 11758ms infinite linear;
}
#main .bg .aur_cont .aur.aur_23 {
  box-shadow: #8743E5 0px 0px 100px 20px;
  margin-top: 95px;
  animation: topup 12790ms infinite linear;
}
#main .bg .aur_cont .aur.aur_24 {
  box-shadow: #4bff4d 0px 0px 100px 20px;
  margin-top: -34px;
  animation: topup 12448ms infinite linear;
}
#main .bg .pinetree {
  background: black;
  width: 5px;
  height: 20px;
  position: absolute;
  bottom: 85px;
  z-index: 2;
  box-shadow: 2px 0px 20px grey;
  left: 20%;
}
#main .bg .pinetree:after {
  position: absolute;
  top: -15px;
  left: -18px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  content: "";
}
#main .bg .pinetree:before {
  position: absolute;
  top: -23px;
  left: -12px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid black;
  content: "";
}
#main .bg .hill {
  width: 120vw;
  margin-left: -10vw;
  height: 215px;
  margin-bottom: -100px;
  box-shadow: 3px 0px 50px grey;
  position: absolute;
  background: linear-gradient(#0a000a 0%, black 100%);
  bottom: 0;
  left: 0;
  border-radius: 50%;
}


@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes topup {
  0%, 100% {
    transform: translatey(30px);
  }
  50% {
    transform: translatey(100px);
  }
}
@keyframes northern {
  0% {
    transform: translate(5%, -2%);
  }
  25% {
    transform: translate(10%, 7%);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: translate(7%, -2%);
  }
  85% {
    transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    transform: none;
  }
}



  </style>