<div class="baner">
    <h1>A WINDOW INTO 5G WIRELESS INTERNET</h1>
    <p>How 5G wireless technology connects you to the world from the comfort of your home.</p>
</div>

<style>
    .baner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/image/baner.png");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 100%;
    }
    h1{
	
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 50px);
    font-weight: bold;
    text-wrap: balance;
    text-align: center;
    }
    p{
    color: var(--primary-text-color);
    font-size: clamp(1rem, 3vw, 30px);
    font-weight: 300;
    text-wrap: pretty;
    text-align: center;
    }

</style>