<div class="content-wrapper">
    <span class="carrusel">

    
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">NEW WAY TO REACH THE NEW FAN</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  <button class="check-coverage-btn">CLICK TO CHECK COVERAGE</button>
  
</span>
</div>




<style>
	
	.carrusel{
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	white-space: nowrap;
  	position: relative;
	gap: 100px;
	animation: marquee 30s linear infinite;
	}
	.content-wrapper {
	  padding-right: 153px;
	  border-top: 1px solid #ffffff;
	  border-bottom: 1px solid #ffffff;
	  padding: 20px;
	}
	

	@keyframes marquee {
	0% { left: 100%; }
	100% { left: -100%; }
	}

  
	.check-coverage-btn {
	  color: #fff;
	  text-transform: uppercase;
	  align-self: stretch;
	  flex-grow: 1;
	  flex-basis: auto;
	  font: 300 24px Inter, sans-serif;
	  background: none;
	  border: none;
	  cursor: pointer;
	}
  

  
	
  </style>