

<div class="contenedor">

	<div class="title">
		Don't overpay for a <span class="text-primaryColor">stable 5G </span> home internet experience
    </div>
</div>
	


<style>


	.contenedor{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		
		text-wrap: pretty;
		padding-left: clamp(0px, 10vw, 100px);
		padding-right: clamp(0px, 10vw, 100px);
		padding-top: clamp(10px, 10vw, 100px);
	
	}


	.title{
	
		color: var(--primary-text-color);
		font-size: clamp(1.5rem, 5vw, 80px);
		font-weight: 400;
	}

	@media (max-width: 768px) {
		.title{
			text-align: center;
			}
	}


</style>