

<div class="contenedor">

	<div class="title">
		Don't overpay for a <span class="text-[#00c402]">stable 5G </span> home internet experience
    </div>
</div>
	


<style>


	.contenedor{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: clamp(1rem, 5vw, 20px);
		text-wrap: pretty;
		margin-top: 10vh;
	}


	.title{
	
			color:#ffff;
			font-size: clamp(1.5rem, 5vw, 80px);
			font-weight: 400;
			}



</style>