---
import Moden from '../Scene3D/ModenScene/Main3D';
---
<section>


	<div class="main-container">
		<div class="columna-izquierda">

			<div><span class="title">The<span class="best"> best </span> internet</span></div>
			<div><span class="subtitle">connection for  <img class="image" loading="lazy" srcset="faviui.png"/></span></div>
				
				<div class="columna-inferior">
					<p class="description">
						In our fast-paced world, imagine a high-speed mobile internet service that keeps you connected seamlessly and outpaces the competition, all at a pleasantly surprising cost!
					</p>
					
					<div class="seccion-inferior">

						<p class="cta-text">Check all benefits and packages we have</p>  
						<button>Check Coverage <img class="icono" src="image/arrowright.svg" > </button>
					</div>
				</div>	

		</div>


		<div class="columna-derecha">
			<div  class="moden">

				<Moden client:visible transition:persist/>
			</div>
		
		</div>
	</div>
</section>
		  
	<style>

		section{
			overflow-wrap: auto;
			box-sizing: border-box;
			position: relative;
		}

			.main-container {
			  display: grid;
			  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		
		
			  grid-auto-flow: dense;
			  grid-auto-rows: 40rem;
			  gap: 1rem;
			  margin-top: clamp(0px, 15vh, 300px);
		
			  overflow-wrap: auto;
			  box-sizing: border-box;
			
			}
			.columna-izquierda{
				display:flex;
				flex-wrap: wrap;
				flex-grow: inherit;
				justify-content: space-between;
			  	align-items: center;
			  
				background-color: blue;
				padding: clamp(5px, 1vw, 40px);

			  	
			}
			.columna-derecha{
				display:flex;
				flex-wrap: calc(100% - 1rem);
				flex-grow: inherit;
				justify-content: center;
			  	align-items: center;
				background-color: red;
				padding: clamp(5px, 1vw, 40px);
			  	
			}


			.columna-inferior{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
			
				gap: 10em;
			}

			.seccion-inferior{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			  	align-content: left;
				
			}
		

			.title, .best, .subtitle{
			color:#ffff;
			font-size: clamp(40px, 5vw, 100px);
			font-weight: 400;
			letter-spacing: 2px;
			text-align: left;
			word-spacing: 5px;

			}
			.best{
			
				color: #00c402;
		
			}
			.subtitle{
			
				font-weight: 300;
				line-height: 160%;
				margin-top: 50px;
			}
		
		  
			.image {
			display: inline-block;
			aspect-ratio: 1.1;
		
			width: clamp(2.5rem, 5vw, 5.3rem); 
			height: clamp(2.5rem, 5vw, 5.3rem);
			margin-bottom: 2rem;
			}

			.icono {
			display: inline-block;
			aspect-ratio: 1.1;
			}
			
			

			.moden{
			width: clamp(280px, 50vw, 500px);
			height: clamp(280px, 50vw, 500px);
			background-color: yellow;
			}
			
			.description {
			  color: #fff;
			  font-weight: 300;
			  
			  font-size: clamp(1rem, 1.5vw, 1.5rem);
			}

			.cta-text {
			  justify-content: center;
			  color: #fff;
			  text-align: center;
			  align-self: center;
			  font-size: clamp(14px, 1.5vw, 1.5rem);
			  font-weight: 200;
			}
		  
	
			button {
			color: #fff;
			
			font-size: var(--fs-sm);
			font-style: normal;
			font-weight: 200;
			border-radius: 50px;
			border: clamp(1px, 1vw, 3px) solid #00c402;
			padding-block: clamp(0.5rem, 1vw, 1rem);
			background-color: transparent;
			transition: border 0.2s ease;
			}
			button:hover {
			color: #fff;
			/* background color gradint tuquesa (izquierda) a  rosa (derecha)*/
			background-image: linear-gradient(to right, #2ed5de,#2e74de, #d201d2);
			border-color: #000000;
			transition: 0.2s ease-in;
			}
		
			@media screen and (max-width: 900px) {
			.main-container {
			 gap:10px;
			
			}
		
			.seccion-inferior{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
			  	align-content: left;
				gap:10px;
			}
				
			}
	
		 </style>