---
import Moden from '../Scene3D/ModenScene/Main3D';
import CoverageCheck from './CoverageCheck.astro';
---
<section class=" overflow-auto box-border relative block ">


	<div class="grid grid-flow-dense gap-4 mt-[15vh] box-border" style="grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));   grid-auto-rows: 45rem;   overflow-wrap: auto;">
		<div class="flex flex-wrap justify-between gap-4 items-center" style="padding: clamp(5px, 1vw, 40px);">

			<div>

				<div><span class="title">The<span class="text-[#00c402]"> best </span> internet</span></div>
				<div><span class="subtitle">connection for  <img class="image" loading="lazy" srcset="faviui.png"/></span></div>

				<p class="description">In our fast-paced world, imagine a high-speed mobile internet service that keeps you connected seamlessly and outpaces the competition, all at a pleasantly surprising cost!</p>
					
			</div>
			<div class="flex flex-row justify-center flex-grow flex-wrap">

				<div class="CheckCoverageContainer flex flex-col  text-center  gap-4 content-center border-4 border-green-500 rounded-lg pl-20 pr-20 pt-4 pb-4">
					<p class="text-white text-2xl font-bold">Check Coverage</p>
					<p class="text-white text-lg font-normal">Enter zip code</p>
					<!-- Add and html input! -->
					<input type="text" name="zip code" id="zip" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 text-center" placeholder="1234">
					
					<button class="text-white text-lg font-normal">Check</button>
				</div>	
			</div>

		</div>


		<div class="flex justify-center items-center" style="flex-wrap: calc(100% - 1rem); padding: clamp(5px, 1vw, 40px); flex-grow: inherit; ">
			<div  class="moden">

				<Moden client:visible transition:persist/>
			</div>
		
		</div>
	</div>
</section>
		  
	<style>

	


			.title, .best, .subtitle{
			color:#ffff;
			font-size: clamp(40px, 5vw, 100px);
			font-weight: 400;
			letter-spacing: 2px;
			text-align: left;
			word-spacing: 5px;

			}
	
			.subtitle{
			
				font-weight: 300;
				line-height: 160%;
				margin-top: 50px;
			}
		
		  
			.image {
			display: inline-block;
			aspect-ratio: 1.1;
		
			width: clamp(2.5rem, 5vw, 5.3rem); 
			height: clamp(2.5rem, 5vw, 5.3rem);
			margin-bottom: 2rem;
			}

			.icono {
			display: inline-block;
			aspect-ratio: 1.1;
			}
			
			

			.moden{
			width: clamp(280px, 50vw, 500px);
			height: clamp(280px, 50vw, 500px);
	
			}
			
			.description {
			  color: #fff;
			  font-weight: 300;
			  
			  font-size: clamp(1rem, 1.3vw, 1.5rem);
			}

			.cta-text {
			  justify-content: center;
			  color: #fff;
			  text-align: center;
			  align-self: center;
			  font-size: clamp(14px, 1.5vw, 1.5rem);
			  font-weight: 200;
			}
		  
	
			button {
			color: #fff;
			
			font-size: var(--fs-sm);
			font-style: normal;
			font-weight: 200;
			border-radius: 50px;
			border: clamp(1px, 1vw, 3px) solid #00c402;
			padding: 8px;
			background-color: transparent;
			transition: border 0.2s ease;
			}
			button:hover {
			color: #fff;
			/* background color gradint tuquesa (izquierda) a  rosa (derecha)*/
			background-image: linear-gradient(to right, #2ed5de,#2e74de, #d201d2);
			border-color: #000000;
			transition: 0.2s ease-in;
			}
		
		
			@media screen and (max-width: 900px) {
			.main-container {
			 gap:10px;
			
			}
		
			.seccion-inferior{
		
				justify-content: center;

				gap:10px;
			}

			}
			@media screen and (max-width: 740px) {
		
			.CheckCoverageContainer{
				padding: 20px;
				margin: 10px;
				
			}
			}
	
		 </style>