---

/* import TopMenu from '../components/TopMenu.astro'; */
import TopMenu from '../components/react_components/TopMenu.jsx';
import TopMenuSuffle from '../components/index/TopMenuSuffle.astro';
import EsferasLuz from '../components/index/EsferasLuz.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="faviui.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
	<!-- 	<TopMenu client:only transition:persist /> -->
		<TopMenuSuffle />
	</header>
	<body>
		<EsferasLuz />

	<main>	
		<slot />
	</main>
	</body>
</html>
<style is:global>
	@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
	:root {
		--font-family: 'Inter', sans-serif;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
		--fs-lg: clamp(1.25rem, 2vw, 1.5rem);
		--fs-md: clamp(1rem, 1.5vw, 1.25rem);
		--fs-sm: clamp(0.875rem, 1.25vw, 1rem);
		--fs-xs: clamp(0.75rem, 1vw, 0.875rem);
		--fs-xxs: clamp(0.625rem, 0.75vw, 0.75rem);
	}

	*, 
	*::before, 
	*::after{
		font-family: var(--font-family);
		box-sizing: border-box;
		text-overflow: ellipsis;
	
	}

	html {
		background: #13151a;

	overflow-x: hidden;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
	box-sizing: border-box;
	}
	body{
		font-family: var(--font-family);
		overflow: hidden;
	}



	header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  z-index: 100;
	}


  


</style>
