---
import BotonFlecha from "./BotonFlecha.astro";

interface Props {
    fillAll?:boolean;
    color?: String;
	buttons: any;
}
const{
    fillAll = false,
    color,
    buttons
}= Astro.props;

---

<div class="flex flex-wrap items-center justify-center">
    {
        buttons.map((button: any, index: number) => (
            <div class="p-3" >
            <BotonFlecha
                texto={button.Text && button.Text}
                link={button.Link}
                backgroundColor={`${ index === 0 ? fillAll ? color ? color : "var(--secondary-color)" : "transparent" : `var(--primary-color)`}`}
                borderColor={`${ index === 0 ? color ? color : `var(--secondary-color)` : `var(--primary-color)`}`}
                iconColor={`${ index === 0 ? fillAll ? color ? color : "var(--secondary-color)" : `var(--primary-text-color)` : `var(--primary-color)`}`}
                iconBackgroundColor={`${ index === 0 ? fillAll ? "white": color ? color : "var(--secondary-color)" : "white"}`}
            />
        </div>
        ))
    }
<div/>