---
import BotonFlecha from "./BotonFlecha.astro";

interface Props {
    fillAll?:boolean;
    color?: String;
    hasIcon?: boolean;
	buttons: any;
}
const{
    fillAll = false,
    color,
    hasIcon,
    buttons
}= Astro.props;

---

<div class="flex flex-wrap items-center justify-center">
    {
        buttons.map((button: any, index: number) => (
            <div class="p-2" >
            <BotonFlecha
                texto={button.Text && button.Text}
                link={button.Link}
                backgroundColor={`${ index === 0 ? fillAll ? color ? color : "secondaryColor" : "transparent" : `primaryColor`}`}
                borderColor={`${ index === 0 ? color ? color : `border-secondaryColor` : `border-primaryColor`}`}
                iconColor={`${ index === 0 ? fillAll ? color ? color : "fill-primaryTextColor" : `fill-white` : `fill-primaryColor`}`}
                iconBackgroundColor={`${ index === 0 ? fillAll ? "bg-white": color ? color : "bg-secondaryColor" : "bg-white"}`}
                showIcon={hasIcon}
            />
        </div>
        ))
    }
<div/>