---
import { setURL } from '../../data/constants';
import Markdown from '../global/Markdown.astro';

interface Props {
    title?:string;
    subtitle?:string;
    description?:string;
    icon?:any;

}
const{
    title="Title",
    description="Hi there.",
    icon= {"url": "https://placehold.co/600x400", "alternativeText":"This is a placeholder"}
}= Astro.props;

---


<div class="flex flex-col items-center bg-gradient-to-r from-white/0 to-white/5 grow w-full py-5 px-10 rounded-[20px] gap-2 border border-white/10">
    <div class="relative flex items-center justify-center w-[60px] h-[60px]">
        <div class="absolute w-[60px] h-[60px] rounded-full bg-gradient-to-t from-secondaryColor to-primaryColor m-1 motion-safe:animate-[spin_2s_ease-in-out_infinite]">
        <span></span>
        </div>
        <img class="absolute w-[45px] h-[45px] bg-white rounded-full p-2 invert" src={setURL(icon.url)} alt={icon.alternativeText}/>
    </div>    
    <Markdown content={`### **${title}**`}/>
    <p class="md:text-[16px] text-[14px] text-white/80 font-[200] tracking-[0.25px]">{description}</p>
</div>