


<div class="robot">
	<img src="/image/robot.svg" alt="robot friend">

</div>
<style>
	.robot {
		display: flex;
		flex-direction: row-reverse;
		padding: 20px;
		width: 100%;
	}
	img {
		width: clamp(10rem, 20vw, 20rem);
		height: clamp(10rem, 20vw, 20rem);
	}

	@media (max-width: 900px) 
	{
		.robot {
			justify-content: center;
		}
	}
</style>
